<div class="author">
    <h1 class="author_heading">Hi, I am Gideon.</h1>
    <p class="author__body">Web developer and Block Chain developer</p>
</div>
<img src="/img/hero-image.webp" alt="Person looking through a window" class="hero-image" width="581" height="528">

<section class="articles">
    <h2 class="articles__heading">Latest post</h2>
    <ul class="articles-ul">
        <li>
            <a href="#">
                <span>Past Title</span>
                <span class="article-list__data">date</span>
            </a>
        </li>
    </ul>
     <a href="#" class="pagintion">&lt; View Older Posts</a>
</section>